*{
    padding: 0;
    margin: 0;
}
#heading{
    text-align: center;
    color: yellow;
    border: 2px solid black;
    background-color: black;
    border-radius: 30px;
}
.div1{
   height: 100%;
   width: 100%;
  background-position: center;
  background-size: cover;
position: absolute;
}
.logo{
    width: 220px;
height: 200px;
margin-left: 80px;
}
.background-img{
    height: 100%;
   width: 100%;
  background-position: center;
  background-size: cover;
position: absolute;
}
.mainBox{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: white;
    padding: 5px;
}
.buttonBox{
   
width: 220px;
margin-top: 30px;
margin-left: 60px;
border-radius: 15%;
position: relative;
box-shadow:5px 0 20px yellow;
}
.button1{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: 0;
    position: relative;
    background-color: yellow;
}
.button2{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: 0;
    position: relative;
}
/* #btn{
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
   background-color: black;
border-radius: 30px;
transition: .5s;
} */
.table{
    margin: 10%;
}
#Id{
    margin-bottom: 20px;
    box-shadow:5px 0 20px yellow;
    outline: 0;
    border: 1px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#password{
    margin-top: 10px;
    box-shadow:5px 0 20px yellow;
    outline: 0;
    border: 1px;
    padding: 10px;
}
.Id{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.password{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn2{
    padding: 10px;
     background: transparent;
     border: 0;
     outline: 0;
     position: relative;
 background-color: yellow;
 }